.content{
	padding:20px;
}

.nav a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 10px;
}

.nav li {
    display: inline;
}

.nav li a {
    text-decoration: none;
}
